# Ignore raw data
data_raw/
*.csv
*.xlsx
*.parquet

# Ignore temp files
*.tmp
*.log
*.bak
~$*

# Ignore Python cache
__pycache__/
*.pyc

# Ignore IDE stuff
.vscode/
.ipynb_checkpoints/

# Ignore venv files
.venv/
venv/

# ignore .user.yml files 
dbt/.user.yml/

# ignore profiles.yml
dbt/profiles.yml